.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
      background: linear-gradient(to right, #af69b7, #d9c9a5);
  padding: 20px;
}

.register-form {
  width: 90%;
  max-width: 800px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.file-upload {
  grid-column: span 2;
}

.image-preview {
  grid-column: span 2;
  text-align: center;
}

.image-preview img {
    width: 240px;
    height: 133px;
    margin-top: -78px;
     margin-left: 308px; 
    border: 1px solid #ccc;
    border-radius: 8px;
}

.register-form button {
  margin-top: 20px;
  width: 24%;
  margin-left: 250px;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .file-upload,
  .image-preview {
    grid-column: span 1;
  }
}
.preview-container {
  margin-top: 10px;
  text-align: center;
}

.preview-img {
    width: 150px;
    height: 121px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-left: 90px;
    margin-top: 12px;
}
.image-upload-row {
    margin-top: 30px;
}